body {
    text-align: center;
    background-color: #f8f8ef;
    font-family: "Georgia";
    color:rgb(19, 18, 20)
}
#FavColor {
    color: #3cce03;
}
#LeastFavColor {
    color: #fd2b2b;
}
#FavHead {
    text-align: center;
    border: 9px dashed #4f8639;
    width: fit-content;   
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#LeastFavHead {
    text-align: center;
    border: 9px dashed #863939;
    width: fit-content;   
    margin-left: auto;
    margin-right: auto;
    display: block;
}
li {
    text-align: center;
}
.FavCheese {
    color: #3cce03;
}
.LeastFavCheese {
    color:#fd2b2b
}